:root {
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color-scheme: dark;
  color: #e5e5e5;
  background: #111;
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
